<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <header>
            <h4>word chain game</h4>
        </header>
        <form id="join-form" action="/user" method="post" class="join-form">
        <input type="text" id="username" name="username" required autofocus/>
    <button type='submit' >Join</button>
    </div>
</body>
</html>